
@{
    ViewBag.Title = "GetParemeter";
    Layout = "~/Views/Shared/LayoutPatient.cshtml";
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
}
<div class="row pt-5 pb-3 pl-3">
    <div class="col-md-5">
        <div class="card text-center" id="">
            <div class="card-header">
                <h5 class="card-title mt-auto mb-auto">Appointment Booked</h5>
            </div>
            <div class="card-body">

                @foreach(var item in ViewBag.patientbookings)
                { 
                <dl class="dl-horizontal">
                    <dt>
                        AppointmentDate:
                    </dt>

                    <dd>
                        @ViewBag.appointmentdate
                    </dd>
                    <hr class="line" />

                    <dt>
                        BookingDate:
                    </dt>

                    <dd>
                        @ViewBag.bookingdate
                    </dd>
                    <hr class="line" />

                    <dt>
                        DoctorName:
                    </dt>

                    <dd>
                        @item.DoctorProfile.FirstName
                    </dd>
                    <hr class="line" />

                    <dt>
                        BookingTime:
                    </dt>

                    <dd>
                        @item.DoctorSlotSchedule.Slot
                    </dd>
                    <hr class="line" />
                    <dt>
                        SlotDuration:
                    </dt>

                    <dd>
                        @item.DoctorSlotSchedule.DoctorSchedule.SlotDuration
                    </dd>
                    <hr class="line" />

                    <dt>
                        PaymentStatus:
                    </dt>

                    <dd>
                        @item.PaymentStatus
                    </dd>
                    <hr class="line" />
                    <div class="text-center mt-2">
                        <a href="https://play.google.com/store/apps?hl=en&gl=US"><img src="~/Content/img/playstore.png"  style="width:40px;height:40px"/></a>
                        <a href="https://www.apple.com/app-store/"><img src="~/Content/img/app-store.png" style="width:40px;height:40px"/></a>
                    </div>
                   
                </dl>

                }
            </div>

        </div>
    </div>
</div>


<style>
    .line {
        width: 100%;
    }

    .clear {
        clear: both;
    }

    .card {
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
        transition: 0.3s;
    }
</style>


