@model IEnumerable<ApnaDoctor.Models.PatientBookings>

@{
    ViewBag.Title = "PatientAppointmentHistory";
    Layout = "~/Views/Shared/LayoutPatient.cshtml";
    <link rel="stylesheet" href="~/Content/css/StyleSheet1.css"/>
}

<div class="row ml-2">
    <h4 class="col-md-5 mt-4">Appointments History</h4>
</div>
<table class="table-bordered table-striped table-hover styled-table ml-4" style="width:95%">
    <thead>
        <tr>
            <th>
                Doctor
            </th>
            <th>
                Patient
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorSlotSchedule.Days)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>Detail</th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorProfile.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientProfile.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorSlotSchedule.Days)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
             @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.AppointmentDate))
                @*@Html.DisplayFor(modelItem => item.AppointmentDate)*@
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.BookingDate))
                @*@Html.DisplayFor(modelItem => item.BookingDate)*@
            </td>
            <td>
                @Html.ActionLink("DoctorDetail", "DoctorDetails", new { id = item.DoctorProfileId })
            </td>
        </tr>
    </tbody>
}

</table>
