<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/nalika-icon.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/style.css">
    
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
   

    <!-- modernizr JS
        ============================================ -->
    
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    
    <link rel="stylesheet" href="~/Content/css/StyleSheet1.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


</head>
<body>

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="" alt=""  /></a>
                <strong><img src="img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="nalika-profile">
                <div class="profile-dtl">
                    <div style="width:120px;height:120px;background-color:white;margin:auto auto;display:flex;justify-content:center;align-items:center;border-radius:50%">
                        <a href="#"><img src="~/Content/img/Logo 2.jpg" alt="" style="border:none;border-radius:0%;display:block;"/ ></a>
                    </div>
                    <h2>Apna <span class="min-dtn">Doctor</span></h2>
                </div>
                <div class="profile-social-dtl">
                    <ul class="dtl-social">
                        <li><a href="@Url.Action("DetailDoctorProfile","Doctor")" ><i class="icon nalika-user icon-wrap"></i></a></li>
                        <li><a href="@Url.Action("Index","Doctor")"><i class="icon nalika-home icon-wrap"></i></a></li>
                        <li><a href="@Url.Action("RegisterPatient","Account")"><i class="icon nalika-diamond icon-wrap"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="left-custom-menu-adp-wrap  comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro ">
                    <ul class="metismenu " id="menu1">
                        <li>
                            <a href="@Url.Action("UpcomingDoctorAppointments","Doctor")"><i class="icon nalika-pie-chart icon-wrap"></i><span class="mini-click-non">Dashboard</span></a>
                        </li>
                        <li >
                            <a href="@Url.Action("DetailDoctorProfile","Doctor")" ><i class="icon nalika-user icon-wrap"></i><span class="mini-click-non">Profile</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListDoctorQualification","Doctor")"><i class="icon nalika-table icon-wrap"></i><span class="mini-click-non">Qualification</span></a>

                        </li>
                        
                        <li>
                            <a href="@Url.Action("DoctorSchedule","Doctor")"><i class="icon nalika-favorites icon-wrap"></i><span class="mini-click-non">Add Schedule</span></a>

                        </li>
                       
                        <li>
                            <a href="@Url.Action("RegisterPatient","Account")"><i class="icon nalika-diamond icon-wrap"></i><span class="mini-click-non">Register</span></a>

                        </li>
                        
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="~/Content/img/logo/logo.png" alt="" /></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n hd-search-rp">
                                            <div class="breadcome-heading">
                                                <form role="search" class="">
                                                    @*<input type="text" placeholder="Search..." class="form-control">
                                                    <a href=""><i class="fa fa-search"></i></a>*@
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                
                                                <li class="nav-item">
                                                    <a  href="@Url.Action("LogOff", "Account")" class="logoutlink"><i class="fa fa-sign-out"></i>Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div style="margin-left:30px">
                @RenderBody()
            </div>

        </div>
       
    </div>
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Content/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Content/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Content/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Content/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/js/metisMenu/metisMenu-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/Content/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="~/Content/js/calendar/moment.min.js"></script>
    <script src="~/Content/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/js/calendar/fullcalendar-active.js"></script>
    <!-- float JS
        ============================================ -->
    <script src="~/Content/js/flot/jquery.flot.js"></script>
    <script src="~/Content/js/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/js/flot/curvedLines.js"></script>
    <script src="~/Content/js/flot/flot-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Content/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
    @if (ViewBag.msg != null)
    {

        <script>
            if ('@ViewBag.status' == '1')
            {
                toastr.success('@ViewBag.msg');
            }
            
        </script>
    }
   
    @RenderSection("scripts", required: false)
</body>
</html>
