@model IEnumerable<ApnaDoctor.Models.DoctorSchedule>

@{
    ViewBag.Title = "CheckDoctorSchedule";
    Layout = "~/Views/Shared/LayoutDoctor.cshtml";
}

<div class="row ml-4">
    <h4 class="mt-4  ">Doctor Schedule</h4>
</div>

<table class="table table-bordered table-striped table-hover styled-table ml-4" style="width:95%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorProfile.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotDuration)
            </th>

        </tr>
    </thead>

    @foreach (var item in ViewBag.schedule)
    {
        <tbody>
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.DayFrom
                </td>
                <td>
                    @item.DayTo
                </td>
                <td>
                    @item.StartTime
                </td>
                <td>
                    @item.EndTime
                </td>
                <td>
                    @item.Week
                </td>
                <td>
                    @item.SlotDuration
                </td>

            </tr>
        </tbody>
    }

</table>