@model ApnaDoctor.Models.PatientHistory

@{
    ViewBag.Title = "Addhistory";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h4 class="mt-4 ml-4">Add PatientHistory</h4>
<div class="ml-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("PatientProfileId", (string)ViewBag.patientId)
            @Html.Hidden("DoctorProfileId", (string)ViewBag.doctorId)

            <div class="form-group">
                @Html.LabelFor(model => model.PastMedicalhistory, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastMedicalhistory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PastMedicalhistory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PastSurgicalhistory, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastSurgicalhistory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PastSurgicalhistory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Drughistory, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Drughistory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Drughistory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GyneorOBShistory, htmlAttributes: new { @class = "control-label col-md-2" })<br /><br />
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GyneorOBShistory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GyneorOBShistory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

