@model IEnumerable<ApnaDoctor.Models.Consultation>

@{
    ViewBag.Title = "ListConsultation";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    <link rel="stylesheet" href="~/Content/css/StyleSheet1.css" />
}
<div class="row">
    <h3 class="col-md-3 mt-4">Consultation</h3>
</div>
<table class="table table-bordered table-striped table-hover styled-table">
    <thead>
        <tr>
            <th>
                DoctorName
            </th>
            <th>
                PatientName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CallType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationCharges)
            </th>*@
            <th>Detail</th>
        </tr>
    </thead>

@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorProfile.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientProfile.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CallType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationCharges)
            </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @Html.ActionLink("Details", "DetailOfConsultation", new { id = item.Id }) 
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    </tbody>
}

</table>
