@model ApnaDoctor.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterPatient";
    Layout = "~/Views/Shared/LayoutDoctor.cshtml";
    <link rel="stylesheet" href="~/Content/css/StyleSheet1.css" />
}
<h4 class="mt-4 ml-4 mb-4">Register Patient</h4>
<div class="ml-4">

    @using (Html.BeginForm("RegisterPatient", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Role, new List<SelectListItem>()
                        {


                             new SelectListItem {Text = "Patient", Value = "Patient"}
                        }, "- Register As - ", new { @class = "form-control " })
            </div>
        </div>



                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label " })<br /><br />
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label " })<br /><br />
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label " })<br /><br />
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control " })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" class="btn btn-primary" value="Register" />
                            </div>
                        </div>
    }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
